h2{
    text-align: center;
    color: black;
    margin-top: 2rem;
}
.from-control{
    display: flex;
    justify-content: center;
}

.text-input{
    flex-grow: 0.5;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.text-input:focus{
    outline:none;
}

.submit-button{
    background: green;
    color: white;
    cursor: pointer;
    margin-left: 1 0px;
}